In [43]:
# Dependencies
import pandas as pd
from sqlalchemy import create_engine

In [44]:
# Store filepath in a variable
csv_file = "Resources/movies_metadata.csv"

In [45]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
movies_df = pd.read_csv(csv_file)
movies_df.head()

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0

In [46]:
# View all column headers
for col in movies_df.columns: 
    print(col)

adult
belongs_to_collection
budget
genres
homepage
id
imdb_id
original_language
original_title
overview
popularity
poster_path
production_companies
production_countries
release_date
revenue
runtime
spoken_languages
status
tagline
title
video
vote_average
vote_count

In [51]:
# Delete unnecessary columns

movies_reduced_df = movies_df.drop(['adult', 'belongs_to_collection', 'genres', 'homepage', 'overview', 'popularity',
                                    'production_companies', 'production_countries','poster_path', 'spoken_languages',
                                    'status', 'tagline', 'video', 'vote_average', 'vote_count'], axis=1)

In [52]:
movies_reduced_df.head()

,budget,id,imdb_id,original_language,original_title,release_date,revenue,runtime,title
0,30000000,862,tt0114709,en,Toy Story,1995-10-30,373554033.0,81.0,Toy Story
1,65000000,8844,tt0113497,en,Jumanji,1995-12-15,262797249.0,104.0,Jumanji
2,0,15602,tt0113228,en,Grumpier Old Men,1995-12-22,0.0,101.0,Grumpier Old Men
3,16000000,31357,tt0114885,en,Waiting to Exhale,1995-12-22,81452156.0,127.0,Waiting to Exhale
4,0,11862,tt0113041,en,Father of the Bride Part II,1995-02-10,76578911.0,106.0,Father of the Bride Part II

In [53]:
# Rearrange columns for efficiency
movies_reduced_df = movies_reduced_df[['id', 'title', 'budget', 'revenue', 'original_title', 'release_date', 'revenue',
                                       'imdb_id', 'original_language']]

In [54]:
# View new df 
movies_reduced_df.head()

,id,title,budget,revenue,original_title,release_date,revenue,imdb_id,original_language
0,862,Toy Story,30000000,373554033.0,Toy Story,1995-10-30,373554033.0,tt0114709,en
1,8844,Jumanji,65000000,262797249.0,Jumanji,1995-12-15,262797249.0,tt0113497,en
2,15602,Grumpier Old Men,0,0.0,Grumpier Old Men,1995-12-22,0.0,tt0113228,en
3,31357,Waiting to Exhale,16000000,81452156.0,Waiting to Exhale,1995-12-22,81452156.0,tt0114885,en
4,11862,Father of the Bride Part II,0,76578911.0,Father of the Bride Part II,1995-02-10,76578911.0,tt0113041,en

In [59]:
# Export clean df to csv
movies_reduced_df.to_csv("movies_clean.csv")